@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", "sans-serif";
}

.start {
  background-color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffffff;
  padding-bottom: 2rem;
}

.intro {
  color: #ffffff;
  margin: 2rem;
}

.Start {
  background-color: #1ac5e7;
  border-radius: 19px;
  border: 1px solid #3c1ae7;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 12px 20px;
  text-decoration: none;
  margin: 3.35rem;
}
.Start:hover {
  background-color: #1a5ee7;
}
.Start:active {
  position: relative;
  top: 1px;
}

.footer p {
  color: #ffffff;
  text-decoration: none;
  margin-top: 3rem;
  font-size: 0.7rem;
}

.footer a {
  color: #1a5ee7;
  text-decoration: none;
  margin-top: 3rem;
  font-size: 0.7rem;
}

.game-site {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c9c9c9;
  font-size: 1rem;
  position: sticky;
  top: 0;
  left: 0;
}

#title {
  font-size: 2rem;
}

.header p > a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;
  text-decoration: none;
}

.box {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0.1rem 2rem;
  margin: 0.25rem;
  background-color: #ffffff;
}

.box p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#round,
#guesses,
#score {
  color: #219c17;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.img-border {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 3px solid #000000;
  border-radius: 10px;
  background-color: rgb(251, 251, 251);
}

.img-border img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 100%;
  padding: 0.5rem;
}

.instruction {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-field {
  font-size: 2rem;
  border: 1px solid #000000;
}

.hint {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
